* {
  --nav-height: 80px;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  word-break: break-all;
}

.time-range-container {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  height: var(--nav-height);
}

.select-timepicker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logs {
  margin-top: var(--nav-height);
}

.view-more-logs-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-more-logs-button {
  position: fixed;
  bottom: 10px;
}
